## .NET
*.suo
*.user
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]in/
[Oo]bj/
[Oo]ut/
[Ll]og/
[Ll]ogs/

## NuGet
**/[Pp]ackages/*
*.nupkg
**/project.lock.json
**/project.fragment.lock.json
*artifacts/

## Visual Studio
.vs/
*.rsuser
*.csproj.user
*.dbmdl
*.jfm


## User-specific
*.DotSettings.user

## Build results
[Dd]ebugPublic/
[Rr]eleases/
build/
bld/
msbuild.log
msbuild.err
msbuild.wrn

## Node / Frontend (para futuro)
node_modules/
dist/
.env
.env.local

## OS
Thumbs.db
.DS_Store

## Docker
docker-compose.override.yml

# Serilog logs
logs/

# secrets
.env

# Uploaded files
uploads/

#IA context
CONTEXT.md
